.section--primary {
  position: relative;
  background-color: $gray-light;
  padding: 2rem;
  height: 100%;
  width: 100%;

  @include medium-up{
    position: absolute;
  top: 0;
  left: 15%;
  right: 0;
  bottom: 0;
  width: 85%;
  }
}

.section-container {
  background-color: $white;
}

.table-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-action{
  display: block;
    float: left;
    margin: 5px;
}

.reset-float{
  @include clearfix;
}
