.aside{
  background-color: $primary;
  // width: 300px;
  height: 100%;
}

.aside__nav, .aside__nav ul {
  height: 100%;
}

.aside__nav{
  li{
    border-bottom: 1px solid $white;
    width: 100%;
  }
    a{
      padding: 1rem 0;
      text-align: center;
      display: inline-block;
      color: $white;
      width: 100%;
      text-transform: uppercase;
      transition-duration: 0.3s;
      &:hover, &:focus, &:active{
        background-color: $secondary;
      }
  }
}