@import "libs/reset";
@import "libs/vars";
@import "libs/mixin";
@import "libs/helpers";
@import "libs/grid";
@import "libs/base";
@import "libs/fonts";


@import "../containers/Admin";
@import "../containers/App";
@import "../containers/Footer";
@import "../containers/MobileAside";
@import "../containers/Aside";
@import "../containers/HomeGuest";

@import "../components/Container";
@import "../components/Navbar";

.admin__aside{
  background-color: $primary;
  width: 300px;
  height: 100%;
}