@import "libs/reset";
@import "libs/vars";
@import "libs/mixin";
@import "libs/helpers";
@import "libs/grid";
@import "libs/base";


.app__aside{
  background-color: red;
  width: 100%;
  height: 20px;
}